<?xml version="1.0" encoding="UTF-8" ?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	
	<!-- Spring context and listener -->
	<context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<listener>
   		<listener-class>
        	org.springframework.web.context.ContextLoaderListener
   	</listener-class>
	</listener> 

	<!-- Servlets -->
	<servlet>
		<servlet-name>Dashboard</servlet-name>
		<servlet-class>com.excilys.computerdatabase.servlets.Dashboard</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AddComputer</servlet-name>
		<servlet-class>com.excilys.computerdatabase.servlets.AddComputer</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>EditComputer</servlet-name>
		<servlet-class>com.excilys.computerdatabase.servlets.EditComputer</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>DeleteComputer</servlet-name>
		<servlet-class>com.excilys.computerdatabase.servlets.DeleteComputer</servlet-class>
	</servlet>

	<!-- Servlets mapping -->

	<servlet-mapping>
		<servlet-name>Dashboard</servlet-name>
		<url-pattern>/dashboard</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AddComputer</servlet-name>
		<url-pattern>/addcomputer</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>EditComputer</servlet-name>
		<url-pattern>/editcomputer</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>DeleteComputer</servlet-name>
		<url-pattern>/deletecomputer</url-pattern>
	</servlet-mapping>

	<!-- Error pages -->
	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/views/403.html</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/404.html</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/views/500.html</location>
	</error-page>


</web-app>